*.DS_Store
*/build/*
.xcuserstate
xcuserdata
OSXChatGPT/OSXChatGPT.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
OSXChatGPT/OSXChatGPT.xcodeproj/xcuserdata/lianchen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
